.card-menu__modal {
    display: flex;

    max-width: 24.2%;
    min-width: 27rem;

    position: fixed;
    top: 16%;
    
    border-radius: 1rem;

    -webkit-box-shadow: 0px 0px 50px 100vw rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 0px 50px 100vw rgba(0,0,0,0.42);
    box-shadow: 0px 0px 50px 100vw rgba(0,0,0,0.42);

}

.card-menu__modal h2, p {
    color: white;
    text-align: center;
}

.card-menu__modal h2 {
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
}

.card-menu__modal-content p:nth-child(2) {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-menu__modal-content p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;

}

.card-menu__modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    max-width: 60rem;
    
    padding: 1rem;
    
    background-color: #8257E5;
    border-radius: 0.5rem;
}

.card-menu__modal-content img {
    width: 100%;
    height: auto;
}

.card-menu__modal-content button {

    position: relative;

    display: flex;
    width: 3rem;
    left: calc(100% - 2.7rem);
    margin: 0;

    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    border: none;

    cursor: pointer;
}

.card-menu__modal-content button img {
    width: 100%;
}