.content__first_section {
    margin-inline: 2.8rem;
    margin-top: 8.85rem;
    margin-bottom: 9.8rem;

}

.content__first_header {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 8.8rem;
}

.content__first_header h1 {
    font-size: 3rem;
    font-weight: 600;

    line-height: 4.1rem;
    letter-spacing: 0.02em;

    text-align: center;
    color: white;

}

.content__first_header button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1rem 3rem;
    gap: 1rem;

    background-color: transparent;

    color: white;
    text-transform: uppercase;
    font-weight: 800;

    border: 1px solid #8257E5;
    border-radius: 0.6rem;
    transition: background .2s;
}

.content__first_header button:hover {
    background-color: #8257E5;
    transition: background .2s;
}

.content__second_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content__second_header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: 4.2rem;

}

.content__second_header h2 {
    display: inline-block;

    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 700;

    color: white;

    line-height: 6.8rem;
    letter-spacing: 0.01em;

    height: 54px;
}

.content__second_header h2:nth-child(2) {
    display: inline-block;
    
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 700;

    color: transparent;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #8257E5;
    
    line-height: 6.8rem;
    letter-spacing: -0.03em;

    width: 34.6rem;
    height: 6.9rem;

}

.content__second_section img {
    display: block;
    width: 100%;
    margin-top: 3.2rem;
    position: relative;
    bottom: 0;

    z-index: -1;
}

.content__second_section:before {
    content: '';
    position: fixed;
    width: 321px;
    height: 321px;
    top: 706px;
    background: #996DFF;
    filter: blur(400px);

    z-index: -1;
}

@media screen and (min-width: 1000px) {

    .content__first_section {
        display: none;
    }

    .content__second_section:before{
        content: '';
        position: fixed;
        width: 321px;
        height: 321px;
        left: -29px;
        bottom: 0;

        background: #996DFF;
        filter: blur(400px);
    }

    .content__second_header h2 {
        font-size: 8rem;

        margin-top: 4rem;
    }

    .content__second_header h2:last-child {
        font-size: 8rem;

        margin-top: 4rem;

        width: auto;
    }

    .content__second_section img {
        max-width: 79.8rem;
        position: absolute;
        bottom: 0;
    }
}

@media screen and (min-width: 1600px) {

    .content__second_header h2 {
        font-size: 10rem;

        margin-top: 4rem;
    }

    .content__second_header h2:last-child {
        font-size: 10rem;
        margin-top: 4rem;
        width: auto;
    }

    .content__second_section img {
        max-width: 100rem;
        position: absolute;
        bottom: 0;
    }
}