.dashboard__header::before {
    content: "";

    display: block;
    height: 8rem;
    background-color: #8257E5;
}

.dashboard__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.dashboard__header h1 {
    color: white;
    font-weight: bold;
}

.dashboard__user {
    display: flex;
    color: white;
    align-items: center;
    gap: 2rem;
}

.dashboard__user p {
    margin: 0;

    font-size: 1.8rem;
    font-weight: bold;
}

.dashboard__user img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.dashboard__main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.dashboard__main__nav {
    display: flex;
    justify-content: center;
}

.dashboard__main__nav ul {
    display: flex;
    gap: 5rem;
}

.dashboard__main__nav ul li {
    color: white;
    font-size: 1.8rem;
    list-style: none;
    cursor: pointer;
}

.dashboard__produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 2rem;
}

.dashboard__main__nav button {
    width: 3rem;
    height: 3rem;
    
    margin-right: 5rem;

    color: #ffffff;

    border: none;
    background-color: #8257E5;
    border-radius: 100%;
    outline: none;

    cursor: pointer;
}

.dashboard__pedidos__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    border: 1px solid #8257E5;
    margin-inline: 2rem;
}

.dashboard__pedidos__left {
    display: flex;
}

.dashboard__pedidos__card img {
    width: 10rem;
}

.dashboard__pedidos__card h3, p, span {
    color: white;
}

.dashboard__pedidos__card h3 {
    font-size: 3rem;
}

.dashboard__pedidos__card p {
    font-size: 1.5rem;
}

.dashboard__pedidos__card span {
    font-size: 2rem;

    margin-right: 2rem;
}

.dashboard__left__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;

}

.dashboard__pedidos__dados {
    display: flex;
    flex-direction: column;
}

.dashboard__pedidos__dados span {
    text-align: end;
    font-size: 1.5rem;
    line-height: 3rem;
}
.dashboard__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: calc(100vh - (18rem + 4.228rem + 3.3rem));
}

.dashboard__empty h2 {
    text-align: center;
    color: white;

    opacity: 0.5;
}